<header>
      <a href="/dockit"><img src="./assets/dockit_logo.png" alt="logo"></a>
      <nav>
      <button class="button-primary">Log In</button>
      <button class="button-primary"> Sign Up</button>
      </nav>
      </header>