<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./partials/head.ejs %>
</head>
<body>
    <h1> Add a new practice</h1>
    <form action="/dockit" method="POST">
    Description:<input type="textarea" name="description"/><br>
    Distance:<input type="number" name="distance"/><br>
    zone:<input type="number" name="zone"/><br>
    <input type="submit" name="" value="Create Entry"/>
    </form>
    <a href="/dockit"><i class="fas fa-angle-double-left"></i></a>
</body>
</html>