<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <% include ./partials/head.ejs %>
        <title></title>
    </head>
    <body>
    <a href="/dockit">Back</a>
          
            <h4><%=entry.distance%></h4>
              
    </body>
</html>