

.container {
    margin-top: 100px;
}
.row {
    text-align: right;
    /* border: 1px solid black; */
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
header img {
    width: 20%;
}
nav {
    display: flex;
    display: flex;
    margin-right: 20px;

}



.columns {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background:#F6F6F6;
    border: #0A78BF 1px solid;
    border-radius: 2px;
    
}

.four {
    height: 300px;
}
.three, .nine, .seven {
    height: 400px;
}


a {
    text-decoration: none;
    color: #0A78BF;
}
span {
    color: gray;
    font-size: 1rem;
    text-transform: uppercase;
}

.detail_description {
    text-align: center;
    font-size: 1.5rem;
}
.bottom_btn {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.btns {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    margin: 20px;
}
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}
textarea {
    height: 300px;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}
input, select, fieldset {
    margin-bottom: 1.5rem;
    text-align: center;
}
input {
    line-height: normal;
    color: #0978BE;
}
