

.container {
    margin-top: 100px;
}
.row {
    text-align: right;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
header img {
    width: 20%;
}
nav {
    display: flex;

}


.columns {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background:#F6F6F6;
    border: #0A78BF 1px solid;
    border-radius: 2px;
    
}

.four {
    height: 400px;
}
.three, .nine, .seven {
    height: 400px;
}


a {
    text-decoration: none;
    color: #0A78BF;
}
span {
    color: gray;
    font-size: 1rem;
    text-transform: uppercase;
}

.detail_description {
    text-align: center;
    font-size: 1.5rem;
}
.bottom_btn {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}